{% extends 'base.html' %}
{% block content %}
    <header><h1>Create New Store</h1></header>
    <section class="create-store-form">
        <form method="post">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="e.g. Amazon.com">
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="https://example.com/" aria-describedby="prefixHelp">
                <small class="form-text text-muted" id="prefixHelp">
                    What is the URL of the online store?
                </small>
            </div>
            <div class="form-group">
                <label for="tag">Price HTML Tag-Name</label>
                <input type="text" class="form-control" id="tag" name="tag" aria-describedby="tagHelp" placeholder="span">
                <small class="form-text text-muted" id="tagHelp">
                    Under what HTML tag is the price stored?
                </small>
            </div>
            <div class="form-group">
                <label for="query">HTML Query</label>
                <input type="text" class="form-control" id="query" name="query" placeholder='{"class": "price price-large"}' aria-describedby="queryHelp">
                <small class="form-text" id="queryHelp">
                    What query?
                </small>
            </div>
            <button type="Submit" class="btn btn-primary">Create</button>
        </form>
    </section>

{% endblock %}